Checks: >
  -*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -cert-dcl50-cpp,
  -cert-dcl03-c,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -misc-static-assert,
  -misc-non-private-member-variables-in-classes,
  -performance-no-int-to-ptr,
  -peformance-noexcept-swap,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-use-anyofallof,
  -readability-identifier-length,
  -readability-avoid-const-params-in-decls,
  -readability-uppercase-literal-suffix,
WarningsAsErrors: ''
FormatStyle: none
